<div class="container">
<div class="row justify-content-center">
   <div class="col-md-8">
      <% if @user.errors.any? %>
      <div class="alert alert-dismissible alert-danger">
         <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
         <ul>
            <% @user.errors.full_messages.each do |el| %>
            <li>
               <%=el %>
            </li>
            <% end %>
         </ul>
      </div>
      <% end %>
      <%= form_with model: @user, :url =>  change_password_path, local: true do |f| %>
      <div class="col-md-12">
         <%= f.label :old_password, class: 'form-label'  %>
         <%= f.password_field :old_password, class: 'form-control' %>
      </div>
      <div class="col-md-12">
         <%= f.label :password, 'New password', class: 'form-label'  %>
         <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="col-md-12">
         <%=f.label :password_confirmation %>
         <%=f.password_field :password_confirmation, class:'form-control'%>
         <div class="col-md-12 ">
            <%= f.submit  class: 'btn btn-primary mt-3 col-md-4' %>
         </div>
         <% end %>
      </div>
   </div>
</div>