<div class="d-flex justify-content-center align-items-center p-3" >
        <div class="col-md-3 p-2">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-4">Transactions</h3>
                            </div>
                        <i class="fas fa-chart-line fs-5 primary-text border rounded-full secondary-bg p-3"></i>
             </div>
         </div>
          <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                               <h3 class="fs-4"><%=  link_to 'Add new', new_trade_path, class: "text-decoration-none"%></h3>
                            </div>
                            <i 
                                class="fas fa-plus fs-5 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
    </div>
</div>
<div class="container mt-3">
 <div class="col sm-12 col-md-12 reset-padding">
         <%= render partial: 'errors' %>
  </div>
    <div class="table-responsive">
        <table class="table bg-white rounded shadow-sm  table-hover">
            <thead class="table-dark"> 
                 <th>Platform</th>
                 <th>Symbol</th>
                 <th>Type</th>
                 <th>Perpetual</th>
                 <th>Leverage</th>
                 <th>Entry Date </th>
                 <th>Exit Date</th>
                 <th>Position</th>
                 <th>Entry Price</th>
                 <th>Exit Price </th>
                 <th>PNL</th>
                 <th></th>
                 
             </thead>
              <tbody>
              <% @trades.each do |el| %>
                 
                <a href="#">
                    <tr>
                        <td><%= el.platform %> </td>
                        <td><%= el.symbol %> </td>
                        <td><%= el.type.name %> </td>
                        <td><%= el.perpetual.perpetual_type %> </td>
                        <td><%= el.leverage %> </td>
                        <td><%= el.entry_date.strftime("%d/%m/%Y") %> </td>
                        <td><%= el.exit_date.strftime("%d/%m/%Y") %>
                        <td><%= el.entry_amount %> </td>
                        <td><%= el.entry_price %> </td>
                        <td><%= el.exit_price %> </td>
                         </td>
                         <td class='<%= el.profit > 0 ? 'table-success ' : 'table-danger ' %> '>    
                          <%= number_to_currency(el.profit)%>
                        </td>
                        <td>
                        <%= link_to "View", trade_path(el.id),  class: "btn btn-outline-primary" %>
                        <%= link_to "Edit", edit_trade_path(el.id),  class: "btn btn-outline-dark" %>
                    </tr>
                </a> 
             <% end %>
             </tbody>
        </table>
    <div>
</div>