<div class="container">
   <div class="row justify-content-md-center ">
      <div class="card border-secondary col-sm-10 col-md-8   reset-padding mt-3 " >
         <div class="card-header">Viewing Transaction and Notes</div>
         <div class="card-body">
            <div class="d-flex justify-content-between"> 
                  <h4 class="card-title">Transaction </h4>
                  <div>
                     <%= link_to "Edit", edit_trade_path(@trades.id),  class: "btn btn-outline-dark mb-2" %>
                     <%= link_to "Delete", '#', class: "deleteItem btn btn-outline-danger mb-2", link_url: "/trades/#{@trades.id}", title: 'transaction' %>
                  </div>
               </div>
            <div class="row justify-content-md-center">
               <div class="col-xs-12 col-sm-12  col-md-6">
                  <ul class="list-group">
                     <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h6>Platform:</h6>
                        <%= @trades.platform %>
                     </li>
                     <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h6>Symbol:</h6>
                        <%= @trades.symbol %>
                     </li>
                     <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h6>Entry Date:</h6>
                        <%= @trades.entry_date %>
                     </li>
                     <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h6>Exit Date:</h6>
                        <%= @trades.exit_date %>
                     </li>
                  </ul>
               </div>
               <div class="col-xs-12 col-sm-12  col-md-6">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     <h6>Leverage:</h6>
                     <%= @trades.leverage %>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     <h6>Position:</h6>
                     <%= @trades.entry_amount %>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     <h6>Entry Price:</h6>
                     <%= @trades.entry_price %>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     <h6>Exit  Price:</h6>
                     <%= @trades.exit_price %>
                  </li>
               </div>
               
            </div>
            <div class="row justify-content-md-center mt-5">
               <div class="col-md-12">
                  <h4 class="card-title">Notes</h4>
                  <%@trades.journals.each do |el| %>
                  <div class="accordion mb-2" id="accordion<%= el.id %>">
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="heading<%= el.id %>">
                           <button class="accordion-button collapsed reset-shadow" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= el.id %>" aria-expanded="false" aria-controls="collapse<%= el.id %>">
                           <%= el.journal_date %>
                           </button>
                        </h2>
                        <div id="collapse<%= el.id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= el.id %>" data-bs-parent="#accordion<%= el.id %>" >
                           <div class="accordion-body">
                              <p>
                                 <%= el.notes %>
                              </p>
                              <div class="d-flex justify-content-end "> 
                                 <%= link_to "Edit", '#', class: "deleteItem btn btn-outline-primary mx-1" %>
                                 <%= link_to "Delete", '#', class: "deleteItem btn btn-outline-danger", link_url: "/journals/#{el.id}", title: "note from #{el.journal_date}"  %>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               <% end %>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal fade " id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header" >
            <h4 class="modal-title" id="confirmModalLabel">Confirmation</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= link_to "Delete", '#', method: 'delete', class: 'btn btn-danger', id: 'deleteBtnModal' %>
         </div>
      </div>
   </div>
</div>